<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Property1>intValue</Property1>
  <Property2 att="oldValue">valueForAllEnvironments</Property2>
  <Parent>
    <Property2>valueForAllEnvironments</Property2>
  </Parent>
  <Property3>Property3</Property3>
  <Property4>Property4</Property4>
</configuration>